DB_USER=user
DB_PASS=password
DB_ADDR=mariadb:3306
DB_NAME=clusterfuck
NETWORKING_HOST=networking:50051
PLAYER_HOST=player:50053
SUBSCRIPTION_HOST=subscription:50052
PERMISSION_HOST=permission:50054
MODTOOL_HOST=modtool:50056
CONFIGURATION_HOST=configuration:50057
ACHIEVEMENTS_HOST=achievements:50058
PLAYER_REDIS_PORT=6379
PERMISSION_REDIS_PORT=6380
PLAYER_REDIS_ADDR=player-redis:6379
PERMISSION_REDIS_ADDR=permission-redis:6379
PLAYER_EVENTS_REDIS_ADDR=player-event-redis:6379
PLAYER_OUTGOING_REDIS_ADDR=player-outgoing-redis:6379
ACHIEVEMENTS_REDIS_ADDR=achievements-redis:6379
ACHIEVEMENTS_EVENTS_REDIS_ADDR=achievements-event-redis:6379
ACHIEVEMENTS_OUTGOING_REDIS_ADDR=achievements-outgoing-redis:6379
SUBSCRIPTION_REDIS_ADDR=subscription-redis:6379
SUBSCRIPTION_OUTGOING_REDIS_ADDR=subscription-outgoing-redis:6379
SUBSCRIPTION_EVENTS_REDIS_ADDR=subscription-event-redis:6379
CONFIGURATION_REDIS_ADDR=configuration-redis:6379
CONFIGURATION_EVENTS_REDIS_ADDR=configuration-event-redis:6379