DB_USER=user
DB_PASS=password
DB_ADDR=mariadb:3306
DB_NAME=clusterfuck
NETWORKING_HOST=networking:50051
PLAYER_HOST=player:50053
SUBSCRIPTION_HOST=subscription:50052
PERMISSION_HOST=permission:50054
MODTOOL_HOST=modtool:50056
CONFIGURATION_HOST=configuration:50057
ACHIEVEMENTS_HOST=achievements:50058